$primay-orange: #ff6f00;
$primay-orange-shadow: #fff7e8;
$primay-orange-50: #ff7200;
$primay-orange-100: #ff791e;
$primay-orange-150: #ff9d01;
$primay-orange-200: #ff9600;
$primay-orange-250: #ff5a00;
$primay-orange-300: #ff9c00;

$primay-orange-shadow-50: #fdc721;
$primay-orange-shadow-100: #ff771c;

$black: #000000;
$white: #ffffff;
$white-primary-400: #fffcf4;

$grey-33: #333333;
$grey-66: #666666;
$grey-99: #999999;
$grey-f3: #f3f3f3;
$grey-e5: #e5e5e5;
$grey-66: #666666;
